body {
  background-image: linear-gradient(170deg, #F6F7EB, #d7d7d1);
  font-family: 'source serif 4';
  color: #0D4145;
  margin: 0;
}

header {
  align-items: center;
  font-size: 14px;
  font-family: "source-sans-pro" ;
  font-weight: 600;
  color: #f8f8f8;
  position: sticky;
  top: 0;
  padding: 7px 7px 7px 28px;
  background-color: #0D4145;
  width: 100%;
}

nav {
  float: right;
  margin-right: 52px;
}

h1, h2, p {
  margin: 7px;
}

h1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1;
}

h2 {
  font-size: 28px;
  font-family: "source-sans-pro" ;
  font-weight: 600;
}

h3 {
  font-size: 21px;
  font-family: "source-sans-pro" ;
  font-weight: 600;
}

h4 {
  display: inline;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #1A1F16;
}

#subheader {
  color: #0e6a70;
}

a {
  text-decoration: none;
  color: #f8f8f8;
  padding: 7px;
}

a:hover {
  color: #ebe2e2;
}

i {
  font-size: 42px;
  margin: 14px;
  color: #125d62;
}

ul {
  column-count: 2;
  column-gap:20px;
}

button {
  font-size: 14px;
  color: #F6F7EB;
  background-image: linear-gradient(170deg, #197278, #0a555b);
  border: none;
  border-radius: 7px;
  padding: 21px;
  margin-top: 28px;
  margin-bottom: 14px;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(170deg,  #146368, #0a555b);
  transition: 0.5s ease-in-out;
}

#profile-pic {
  width: 140px;
  margin: 14px;
  border-radius: 50%;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.card {
  padding: 56px;
  margin: 21px;
  background-color: #f8f8f8;
  text-align: center;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 0px 21px rgba(0,0,0,0.2);
}

figure {
  display: inline-block;
}

figcaption {
  font-size: 10px;
}

.art-pic {
  width: 210px;
  margin: 14px;
  border-radius: 7px;
}

@media (max-width: 800px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

  .card {
    padding: 56px 28px;
  }

  button {
    margin-top: 14px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

  .card {
    padding: 28px 14px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 21px;
  }
}
